<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/articles/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Title</td><td><input type="text" name="title" required /></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Body</td><td valign="top"><textarea name="body" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr><td class="label" valign="top">Author</td><td><input type="text" name="author" required /></td></tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
